@page "/"
@page "/swap"
@inherits PageBase<HomePageModel>

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <MudCard Elevation="24">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5"><b>Swap</b></MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="fad fa-cog" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.subtitle2"><b>Send</b></MudText>
            <MudPaper Class="mb-6 shadow-light">
                <MudGrid Spacing="0">
                    <MudItem xs="6" sm="8" md="8">
                        <MudTextField @bind-Value="@_from" Placeholder="0.00" Variant="Variant.Text" DisableUnderLine="true" />
                    </MudItem>
                    <MudItem xs="6" sm="4" md="4">
                        <MudSelect @bind-Value="@_fromList" Variant="Variant.Text" OffsetY="true" DisableUnderLine="true">
                            <MudSelectItem Value="@("ICX")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> ICX
                            </MudSelectItem>
                            <MudSelectItem Value="@("ICD")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> ICD
                            </MudSelectItem>
                            <MudSelectItem Value="@("bnUSD")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> bnUSD
                            </MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <div class="d-flex justify-content-center">
                <MudFab Size="Size.Small" IconColor="Color.Secondary" Icon="@Icons.Filled.SwapVert" />
            </div>
            <MudText Typo="Typo.subtitle2"><b>Receive</b></MudText>
            <MudPaper Class="shadow-light">
                <MudGrid Spacing="0">
                    <MudItem xs="6" sm="8" md="8">
                        <MudTextField @bind-Value="@_to" Placeholder="0.00" Variant="Variant.Text" DisableUnderLine="true" />
                    </MudItem>
                    <MudItem xs="6" sm="4" md="4">
                        <MudSelect @bind-Value="@_toList" Variant="Variant.Text" OffsetY="true" DisableUnderLine="true">
                            <MudSelectItem Value="@("ICX")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> ICX
                            </MudSelectItem>
                            <MudSelectItem Value="@("ICD")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> ICD
                            </MudSelectItem>
                            <MudSelectItem Value="@("bnUSD")">
                                <img src="static/img/icx.png" height="22" class="mr-1 mb-1" /> bnUSD
                            </MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <div class="my-6 d-flex">
                <IconexWalletButton Text="Connect Wallet" Variant="@Variant.Filled" Color="@Color.Primary" Class="d-flex flex-grow-1"/>
             </div>
            <MudPaper Class="p-3 shadow-light">
                <MudGrid Spacing="1">
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Price impact</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Max slippage</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Estimated cost</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudCardContent>
    </MudCard>    
</MudContainer>
@code{

    string _from = "";
    string _fromList = "ICX";

    string _to = "";
    string _toList = "ICD";

}
<!-- <span class="fao" style="padding: 2rem;"><img src="/static/img/gl-icon-create-order-96.png" class="fag" /></span> -->