@page "/"
@page "/swap"
@inherits PageBase<HomePageModel>

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <MudCard Elevation="24">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Quick Swap
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="fad fa-cog" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.overline">
                SEND
            </MudText>
            <MudPaper Class="px-4 py-2 shadow-light">
                <MudGrid Spacing="0">
                    <MudItem xs="6" sm="7" md="7">
                        <MudTextField Class="large" @bind-Value="@_from" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                    </MudItem>
                    <MudItem xs="6" sm="5" md="5">
                        <MudSelect Class="large" OffsetY="true" @bind-Value="@_fromList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                            <MudSelectItem Value="@("ICX")">
                                <img src="static/img/icx-64.png" height="22" class="mr-1 mb-1" /> ICX
                            </MudSelectItem>
                            <MudSelectItem Value="@("ICD")">
                                <img src="static/img/usd.svg" height="22" class="mr-1 mb-1" /> ICD
                            </MudSelectItem>
                            <MudSelectItem Value="@("USDT")">
                                <img src="static/img/usdt-64.png" height="22" class="mr-1 mb-1" /> USDT
                            </MudSelectItem>
                            <MudSelectItem Value="@("bnUSD")">
                                <img src="static/img/bnusd-64.png" height="22" class="mr-1 mb-1" /> bnUSD
                            </MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <div class="mt-7 mb-1 d-flex justify-content-center">
                <MudFab Size="Size.Small" IconColor="Color.Secondary" Icon="@Icons.Filled.SwapVert" Style="background-color: white;" />
            </div>
            <MudText Typo="Typo.overline">
                RECEIVE
            </MudText>
            <MudPaper Class="px-4 py-2 shadow-light">
                <MudGrid Spacing="0">
                    <MudItem xs="6" sm="7" md="7">
                        <MudTextField Class="large" @bind-Value="@_to" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                    </MudItem>
                    <MudItem xs="6" sm="5" md="5">
                        <MudSelect Class="large" OffsetY="true" @bind-Value="@_toList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                            <MudSelectItem Value="@("ICX")">
                                <img src="static/img/icx-64.png" height="22" class="mr-1 mb-1" /> ICX
                            </MudSelectItem>
                            <MudSelectItem Value="@("ICD")">
                                <img src="static/img/usd.svg" height="22" class="mr-1 mb-1" /> ICD
                            </MudSelectItem>
                            <MudSelectItem Value="@("USDT")">
                                <img src="static/img/usdt-64.png" height="22" class="mr-1 mb-1" /> USDT
                            </MudSelectItem>
                            <MudSelectItem Value="@("bnUSD")">
                                <img src="static/img/bnusd-64.png" height="22" class="mr-1 mb-1" /> bnUSD
                            </MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <div class="my-6 d-flex">
                <IconexWalletButton Text="Connect Wallet" Size="Size.Large" Variant="@Variant.Filled" Color="@Color.Primary" Class="d-flex flex-grow-1" />
            </div>
            <MudPaper Class="p-3 shadow-light">
                <MudGrid Spacing="1">
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Estimated Cost</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Expected Slippage</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>
                    <MudItem xs="6" sm="6" md="9">
                        <MudText Typo="Typo.caption">Minimum Received</MudText>
                    </MudItem>
                    <MudItem xs="6" sm="6" md="3">
                        <MudSkeleton Animation="Animation.Pulse" />
                    </MudItem>

                </MudGrid>
            </MudPaper>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code{

    string _from = "1000";
    string _fromList = "ICD";

    string _to = "997";
    string _toList = "USDT";

}

<!-- <span class="fao" style="padding: 2rem;"><img src="/static/img/gl-icon-create-order-96.png" class="fag" /></span> -->