@page "/"
@page "/swap"
@inherits PageBase<HomePageModel>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="6" sm="6" md="3">
            <MudCard Class="shaded" Elevation="24">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">
                            Quick Swap
                        </MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="fad fa-cog" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.overline">
                        SEND <i class="fad fa-arrow-right"></i>
                    </MudText>
                    <MudPaper Class="mt-1 px-4 py-2 shadow-light">
                        <MudGrid Spacing="0">
                            <MudItem xs="6" sm="7" md="7">
                                <MudTextField Class="large" @bind-Value="@_from" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                            </MudItem>
                            <MudItem xs="6" sm="5" md="5">
                                <MudSelect Class="large" OffsetY="true" @bind-Value="@_fromList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                                    <MudSelectItem Value="@("ICX")">
                                        <img src="static/img/icx-64.png" height="20" class="mr-1 mb-1" /> ICX
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("ICD")">
                                        <img src="static/img/usd.svg" height="20" class="mr-1 mb-1" /> ICD
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("USDT")">
                                        <img src="static/img/usdt-64.png" height="20" class="mr-1 mb-1" /> USDT
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("USDC")">
                                        <img src="static/img/usdc.png" height="20" class="mr-1 mb-1" /> USDC
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("bnUSD")">
                                        <img src="static/img/bnusd-64.png" height="20" class="mr-1 mb-1" /> bnUSD
                                    </MudSelectItem>
                                </MudSelect>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                    <div class="mt-7 mb-1 d-flex justify-content-center">
                        <MudFab Size="Size.Small" IconColor="Color.Secondary" Icon="@Icons.Filled.SwapVert" Style="background-color: white;" />
                    </div>
                    <MudText Typo="Typo.overline">
                        RECEIVE <i class="fad fa-arrow-left"></i>
                    </MudText>
                    <MudPaper Class="mt-1 px-4 py-2 shadow-light">
                        <MudGrid Spacing="0">
                            <MudItem xs="6" sm="7" md="7">
                                <MudTextField Class="large" @bind-Value="@_to" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                            </MudItem>
                            <MudItem xs="6" sm="5" md="5">
                                <MudSelect Class="large" OffsetY="true" @bind-Value="@_toList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                                    <MudSelectItem Value="@("ICX")">
                                        <img src="static/img/icx-64.png" height="20" class="mr-1 mb-1" /> ICX
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("ICD")">
                                        <img src="static/img/usd.svg" height="20" class="mr-1 mb-1" /> ICD
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("USDT")">
                                        <img src="static/img/usdt-64.png" height="20" class="mr-1 mb-1" /> USDT
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("USDC")">
                                        <img src="static/img/usdc.png" height="20" class="mr-1 mb-1" /> USDC
                                    </MudSelectItem>
                                    <MudSelectItem Value="@("bnUSD")">
                                        <img src="static/img/bnusd-64.png" height="20" class="mr-1 mb-1" /> bnUSD
                                    </MudSelectItem>
                                </MudSelect>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                    <div class="my-6 d-flex justify-content-center">
                        <MudText Typo="Typo.caption" Color="Color.Tertiary">
                            Exchange Rate: <b>1 ICD = 0.9970 USDT</b>
                        </MudText>
                    </div>
                    <div class="my-6 d-flex">
                        <IconexWalletButton Text="Connect Wallet" Size="Size.Large" Variant="@Variant.Filled" Color="@Color.Primary" Class="py-3 d-flex flex-grow-1" />
                    </div>
                    <MudPaper Class="p-3 shadow-light">
                        <MudGrid Spacing="1">
                            <MudItem xs="6" sm="6" md="9">
                                <MudText Typo="Typo.caption">Estimated Cost</MudText>
                            </MudItem>
                            <MudItem xs="6" sm="6" md="3">
                                <MudSkeleton Animation="Animation.Pulse" />
                            </MudItem>
                            <MudItem xs="6" sm="6" md="9">
                                <MudText Typo="Typo.caption">Expected Slippage</MudText>
                            </MudItem>
                            <MudItem xs="6" sm="6" md="3">
                                <MudSkeleton Animation="Animation.Pulse" />
                            </MudItem>
                            <MudItem xs="6" sm="6" md="9">
                                <MudText Typo="Typo.caption">Minimum Received</MudText>
                            </MudItem>
                            <MudItem xs="6" sm="6" md="3">
                                <MudSkeleton Animation="Animation.Pulse" />
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="9">
            <MudCard Elevation="24" Style="height: 100%;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">
                            Pool List
                        </MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChipSet>
                            <MudChip Text="all" Label="true" Default="true">&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;</MudChip>
                            <MudChip Text="icd" Label="true">&nbsp;&nbsp;ICD&nbsp;&nbsp;</MudChip>
                            <MudChip Text="usdt" Label="true">USDT</MudChip>
                            <MudChip Text="others" Label="true">Others</MudChip>
                        </MudChipSet>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudTable T="Pool" Items="_pools" Class="p-4" Elevation="0" Breakpoint="Breakpoint.Sm">
                        <ColGroup>
                            <col style="width: 50%;" />
                            <col style="width: 100px;" />
                            <col style="width: 100px;" />
                            <col style="width: 80px;" />
                            <col />
                        </ColGroup>
                        <HeaderContent>
                            <MudTh>NAME</MudTh>
                            <MudTh Style="text-align:right">LIQUIDITY</MudTh>
                            <MudTh Style="text-align:right">VOLUME (24H)</MudTh>
                            <MudTh Style="text-align:right">CHANGE (24H)</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name" Style="font-weight: 800;">
                                <img height="24" src="static/img/usdc.png" style="padding-right: 10px;" />
                                @context.Name
                            </MudTd>
                            <MudTd DataLabel="Liquidity" Style="text-align:right; font-weight: 500;">@context.Liquidity.ToString("C0")</MudTd>
                            <MudTd DataLabel="Volume (24h)" Style="text-align:right; font-weight: 500; color: rgb(124, 132, 151);">$@context.Volume24H.ToString("C0")</MudTd>
                            <MudTd DataLabel="Change (24h)" Style="text-align:right; font-weight: 600; color: rgb(69, 197, 129);">@context.Change24H.ToString("P2")</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code{

    private string _from = "1000";
    private string _fromList = "ICD";

    private string _to = "997";
    private string _toList = "USDT";

    IEnumerable<Pool> _pools = new List<Pool>();

    protected override Task OnInitializedAsync()
    {
        _pools = new List<Pool>
        {
            new Pool
            {
                Name = "ICD-USDT",
                Liquidity = 123456789,
                Volume24H = 15678989,
                Change24H = 0.036
            },
            new Pool
            {
                Name = "ICD-bnUSD",
                Liquidity = 23456789,
                Volume24H = 5678989,
                Change24H = 0.12
            },
            new Pool
            {
                Name = "USDT-USDC",
                Liquidity = 23456789,
                Volume24H = 5678989,
                Change24H = 0.12
            },
            new Pool
            {
                Name = "ICD-USDC",
                Liquidity = 23456789,
                Volume24H = 5678989,
                Change24H = 0.12
            },
            new Pool
            {
                Name = "USDT-bnUSD",
                Liquidity = 23456789,
                Volume24H = 5678989,
                Change24H = 0.12
            }
        };
        return Task.CompletedTask;
    } 

}

<!-- <span class="fao" style="padding: 2rem;"><img src="/static/img/gl-icon-create-order-96.png" class="fag" /></span> -->