@inherits ViewBase<QuickSwapViewModel>

<MudCard Class="shaded" Elevation="24">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">
                Quick Swap
            </MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="fad fa-cog" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.overline">
            SEND <i class="fad fa-arrow-right"></i>
        </MudText>
        <MudPaper Class="mt-1 px-4 py-2 shadow-light">
            <MudGrid Spacing="0">
                <MudItem xs="6" sm="8" md="8">
                    <MudTextField Class="large" @bind-Value="@_from" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                </MudItem>
                <MudItem xs="6" sm="4" md="4">
                    <MudSelect Class="large" OffsetY="true" @bind-Value="@_fromList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                        <MudSelectItem Value="@("ICX")">
                            <div class="d-flex">
                                <img src="static/img/icx-64.png" height="20" class="mr-2" />ICX
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("ICD")">
                            <div class="d-flex align-center">
                                <img src="static/img/usd.svg" height="20" class="mr-2" />ICD
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("USDT")">
                            <div class="d-flex align-center">
                                <img src="static/img/usdt-64.png" height="20" class="mr-2" />USDT
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("USDC")">
                            <div class="d-flex align-center">
                                <img src="static/img/usdc.png" height="20" class="mr-2" />USDC
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("bnUSD")">
                            <div class="d-flex align-center">
                                <img src="static/img/bnusd-64.png" height="20" class="mr-2" />bnUSD
                            </div>
                        </MudSelectItem>
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <div class="mt-7 mb-1 d-flex justify-center">
            <MudFab Size="Size.Small" IconColor="Color.Secondary" Icon="@Icons.Filled.SwapVert" Style="background-color: white;" />
        </div>
        <MudText Typo="Typo.overline">
            RECEIVE <i class="fad fa-arrow-left"></i>
        </MudText>
        <MudPaper Class="mt-1 px-4 py-2 shadow-light">
            <MudGrid Spacing="0">
                <MudItem xs="6" sm="8" md="8">
                    <MudTextField Class="large" @bind-Value="@_to" Placeholder="0.00" Variant="Variant.Text" InputType="InputType.Number" DisableUnderLine="true" />
                </MudItem>
                <MudItem xs="6" sm="4" md="4">
                    <MudSelect Class="large" OffsetY="true" @bind-Value="@_toList" Variant="Variant.Text" FullWidth="true" DisableUnderLine="true">
                        <MudSelectItem Value="@("ICX")">
                            <div class="d-flex align-center">
                                <img src="static/img/icx-64.png" height="20" class="mr-2" />ICX
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("ICD")">
                            <div class="d-flex align-center">
                                <img src="static/img/usd.svg" height="20" class="mr-2" />ICD
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("USDT")">
                            <div class="d-flex align-center">
                                <img src="static/img/usdt-64.png" height="20" class="mr-2" />USDT
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("USDC")">
                            <div class="d-flex align-center">
                                <img src="static/img/usdc.png" height="20" class="mr-2" />USDC
                            </div>
                        </MudSelectItem>
                        <MudSelectItem Value="@("bnUSD")">
                            <div class="d-flex align-center">
                                <img src="static/img/bnusd-64.png" height="20" class="mr-2" /> bnUSD
                            </div>
                        </MudSelectItem>
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <div class="my-6 d-flex justify-center">
            <MudText Typo="Typo.caption" Color="Color.Tertiary">
                Exchange Rate: 1 ICD = <b>0.9970</b> USDT
            </MudText>
        </div>
        <div class="my-6 d-flex">
            @if (ViewModel.WalletAddress != null)
            {
                <MudButton Size="Size.Large" Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Class="py-3 flex-grow-1">
                    Swap
                </MudButton>
            }
            else
            {
                <MudButton Size="Size.Large" Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Class="py-3 flex-grow-1" OnClick="() => ViewModel.ConnectWallet.Execute().ToTask()">
                    Connect Wallet
                </MudButton>
            }
        </div>
        <MudPaper Class="px-4 py-3 shadow-light">
            <MudGrid Spacing="1">
                <MudItem xs="6" sm="6" md="8">
                    <MudText Typo="Typo.caption">Estimated Cost</MudText>
                </MudItem>
                <MudItem xs="6" sm="6" md="4" Style="text-align: right;">
                    @if (ViewModel.IsLoaded)
                    {
                        <MudText Typo="Typo.caption">
                            <b>~ $3.00</b>
                        </MudText>
                    }
                    else
                    {
                        <MudSkeleton Animation="Animation.Pulse" />
                    }
                </MudItem>
                <MudItem xs="6" sm="6" md="8">
                    <MudText Typo="Typo.caption">Expected Slippage</MudText>
                </MudItem>
                <MudItem xs="6" sm="6" md="4" Style="text-align: right;">
                    @if (ViewModel.IsLoaded)
                    {
                        <MudText Typo="Typo.caption">
                            <b>0.00%</b>
                        </MudText>
                    }
                    else
                    {
                        <MudSkeleton Animation="Animation.Pulse" />
                    }
                </MudItem>
                <MudItem xs="6" sm="6" md="8">
                    <MudText Typo="Typo.caption">Minimum Received</MudText>
                </MudItem>
                <MudItem xs="6" sm="6" md="4" Style="text-align: right;">
                    @if (ViewModel.IsLoaded)
                    {
                        <MudText Typo="Typo.caption">
                            <b>$997.00 USDT</b>
                        </MudText>
                    }
                    else
                    {
                        <MudSkeleton Animation="Animation.Pulse" />
                    }
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudCardContent>
</MudCard>

@code{

    private string _from = "1000";
    private string _fromList = "ICD";

    private string _to = "997";
    private string _toList = "USDT";

    protected override Task OnInitializedAsync()
    {
        return Task.Delay(2000).ContinueWith(_ => ViewModel.IsLoaded = true);
    }

}